# OS - Windows
[Tt]humbs.db

# Visula Studio
*.user
*.suo
*.[Cc]ache
[Bb]in/
[Oo]bj/

# Backups
*.bak

# Report generation
tools/partcover.bat
tools/xunit-console.bat
tools/reportgenerator.bat
reports/
